/* imports */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

/* Global styles */

html, body
{
	height: 100%;
	background: #c0c0c0;
	font-family: 'Open Sans', sans-serif;
}

header, footer, content
{
	text-align:center;
}

h1, h2, ul, p
{
	margin: 0px;
	padding: 0px;
}

h1
{
	border-bottom: 1px solid #888888;
  	padding-bottom: 10px;
  	margin-bottom: 10px;
}

li
{
	list-style: none;
	display: inline;
	margin-right: 10px;
}

li:last-child
{
	margin-right: 0px;
}
	
header img
{
	border: 1px solid #000000;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

content
{
	font-size: 0.75rem;
}

footer, .card-details
{
	font-size: 0.75em;
}

footer
{
	height: 50px;
	margin-top: 15px;
	color: #dadada;
}

a
{
	color: inherit;
}

/* Custom classes */

header .quote, content .author
{
	width: 75%;
	margin: 0 auto;
	padding: 5px;
	font-style: italic;
	font-size: 0.75rem;
	color:  #888888;
	font-weight: 300;
}	

content .quote
{
	text-align: justify;
}

content .quote:before, content .quote:after
{
	content: "'";
}

content .author
{
	white-space: nowrap;
}
content .author:before
{
	content: "- ";
}

.card
{
	background: #ffffff;
	width: 400px;
	margin: auto;
	padding: 15px;
	margin-top: 25px;
	box-shadow: 10px 10px 5px #aaa;
	border: #aaa 1px solid;
}

.card-details
{
	color: #888888;
	text-align: left;
	font-size: 0.5rem;	
}

.card-details a
{
	text-decoration: none;	
}

/* Overriding font-awesome styles */

.fa
{
	color: #888888;
}

.fa:hover
{
	color: #509600;
	text-shadow: 1px 1px 1px #bababa;
}
