{% load staticfiles %}

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'quotes/style.css' %}" />

<div class="card">
   		<header>
			<img src="{% static "quotes/images/elephant.png" %}" title="Turtle (c) Lemming" alt="Quote / Turtle Logo"/>
	   		<h1>Quotes</h1>
			<p class="quote">The perfect place to persist unique sentences of your life.</p>
		</header>

		<content>
			<ul>
				<li><a href="https://github.com/tscholze" title="Fork Quotes" alt="Fork Quotes"><i class="fa fa-github-alt fa-2x"></i></a></li>
				<li><a href="https://twitter.com/tobonaut" title="Follow the developer" alt="Follow the developer"><i class="fa fa-twitter fa-2x"></i></a></li>
			</ul>
		</content>
	</div>

{% if latest_quote_list %}
	{% for quote in latest_quote_list %}
			<div class="card">
			<content>
				<p class="quote">{{ quote }}</p>
				<p class="author">{{ quote.author_name }}</p>
			</content>
		</div>
	{% endfor %} 
{% else %}

No quotes are available.

{% endif %}

<footer>
	<p>Avatar: <a href="http://openclipart.org">openclipart.org</a></p>
</footer>
